.header_li {
    margin: 0;
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: auto;
    align-items: center;
}

.header_li a {
    color: #fffff4;
    padding: 5px;

    /*ITC Giovanni Std Bold*/
    /*font-family: itc-giovanni, serif;*/
    /*font-weight: 700;*/
    /*font-style: normal;*/

    /*ITC Giovanni Std Bold Italic*/
    /*font-family: itc-giovanni, serif;*/
    /*font-weight: 700;*/
    /*font-style: italic;*/


    /*ITC Giovanni Std Book*/
    font-family: itc-giovanni, serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;

    /*ITC Giovanni Std Book Italic*/
    /*font-family: itc-giovanni, serif;*/
    /*font-weight: 400;*/
    /*font-style: italic;*/

}

.header_li a:hover,
.header_li a:active,
.header_li a.active {
    color: red;
}