.recentia_search_li {
    margin: 0;
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: auto;
    align-items: center;
}

.recentia_search_li a {
    color: black;
    height: 100%;
    padding: 5px 6px;
    border: 1.5px gray solid;
    /*box-shadow: 5px 5px 10px grey;*/
    background-color: #fffff4;

    /*ITC Giovanni Std Bold*/
    /*font-family: itc-giovanni, serif;*/
    /*font-weight: 700;*/
    /*font-style: normal;*/

    /*ITC Giovanni Std Bold Italic*/
    /*font-family: itc-giovanni, serif;*/
    /*font-weight: 700;*/
    /*font-style: italic;*/


    /*ITC Giovanni Std Book*/
    font-family: itc-giovanni, serif;
    font-weight: 400;
    font-size: 17px;
    font-style: normal;

    /*ITC Giovanni Std Book Italic*/
    /*font-family: itc-giovanni, serif;*/
    /*font-weight: 400;*/
    /*font-style: italic;*/


}

.recentia_search_li a:hover,
.recentia_search_li a:active,
.recentia_search_li a.active {
    background-color: #d1d1d1;
    color: black;
}
