.search_bar {
    -webkit-appearance: none;
    height: 33px;
    width: 538px;
    padding-left: 38px;
    border: 1.5px gray solid;
    background-image: url('../../assests/images/search_icon.png');
    background-repeat: no-repeat;
    background-size: 34px;
    background-color: #fffff4;
}

.recentia_search_wrapper {
    /*width: 50%;*/
    width: 600px;
    margin: auto auto 30px auto;
    /*display: flex;*/
    justify-content: center;
}


.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    /*border: none;*/
    text-align: left;
    outline: none;
    border: 1px darkgray solid;
    font-size: 15px;
    transition: 0.5s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

/* NEW COLLAPSIBLE */

.Collapsible__trigger {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    /*border: none;*/
    text-align: left;
    outline: none;
    border: 1px darkgray solid;
    font-size: 15px;
    transition: 0.5s;
}

.is-open, .Collapsible__trigger:hover {
    background-color: #ccc;
}

.Collapsible__trigger:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.is-open:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}