h1 {
    font-weight: lighter;
    color: #fffff4;
    margin-top: 0;
    margin-left: 95px;
    padding-top: 20px;
}

.recentia_header {
    text-align: center;
    height: 100px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    background-color: darkblue;
    padding-bottom: 20px;
}

.recentia_header h1 {
    /*Trajan Pro 3 Regular*/
    font-family: trajan-pro-3, serif;
    font-weight: 400;
    font-size: 35px;

    /* Bold */
    /*font-weight: 700;*/
    font-style: normal;
    margin-bottom: 0;
}

.header_nav {
    margin: auto auto 30px 95px;
    display: flex;
    justify-content: center;
}