/* General */
body, html {
    margin: 0;
    background-color: #efefef;
}

h1, a, p {
    font-family: "Merriweather", serif;
    text-decoration: none;
}

/* Search Bar */

.recentia_search {
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: -10px;
}


